.env
__pycache__
terraform_prox/terraform.tfstate
terraform_prox/terraform.tfstate.backup
terraform_prox/.terraform.lock.hcl
terraform_prox/.terraform/
terraform_prox\.terraform
*.tfstate
*.tfstate.backup
*.tfvars.json
crash.log
faas/env
faas/__pycache__
pedidoComida/env
pedidoComida/__pycache__
