{% extends "base.html" %}

{% block title %}Página Principal{% endblock %}

{% block header %} 
    <div class="container">
        <h1>Bienvenido a la App de Pedidos</h1>
        <p>Realiza tus pedidos de comida de manera fácil y rápida.</p>
    </div>
{% endblock %}
{% block content %}
    
    <div class="container d-flex justify-content-around mt-5">
        <div class="row"> 
            <div class="col-6 col-sm-3 card" style="width: 18rem;">
            <img src="" alt="">
            <h3>Menú</h3>
            </div>
            <div class="col-6 col-sm-3 card" style="width: 18rem;">
                <h3>Ordenes</h3>
            </div>
            <div class="col-6 col-sm-3 card" style="width: 18rem;">
            <h3> Delivery </h3>
            </div>
            
        </div>
        
        
    </div>
{% endblock %}